language: julia
sudo: false
julia:
    - 0.4
    - 0.5
    - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
    email: false
#script: # use the default script setting which is equivalent to the following
after_success:
    - echo $TRAVIS_JULIA_VERSION
    - julia -e 'Pkg.add("Coverage"); cd(Pkg.dir("QuantEcon")); using Coverage; Coveralls.submit(process_folder()); Codecov.submit(process_folder())'
